.modal-center{
	margin-top: 16.5% !important; 
}

.modal-center2{
	margin-top: 12% !important; 
}

.modal-center3{
	margin-top: 8% !important; 
}

.modal-center4{
	margin-top: 5% !important; 
}

.active2{
	font-weight: 600 !important;
	margin-left: 5px !important;
}

.submenu-icon-custom{
	margin-top: -2px !important;
}

.input-above{
	z-index:8 !important;
}

.input-above2{
	z-index:9 !important;
}

.input-above3{
	z-index:10 !important;
}

.input-above4{
	z-index:11 !important;
}

.menu-blocked a, .menu-blocked span{
	color:#d0d0d0 !important;
}

.text-th{
	font-size:11px;
}

.scrollable{
	overflow:auto !important;
}

.button-opciones{
	margin-left:0px !important;
}